# Object files
*.o
*.ko

# Libraries
#*.lib
#*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#HSA
*.d
*.old
*.hsa
*.bin
*.ptx
*.hsail
*.mk
*.lo
*.log
*.status
*/.deps/
HSA_ENV_SETTING

